<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
</head>

<body>
    {% include "components/header.njk" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "components/footer.njk" %}

    {# <h1> example filters {{ var|shorten(3) }}</h1> #}
</body>
</html>