<!DOCTYPE html>
<html lang="ru">
<head></head>

<body>
    <div id="app"></div>
    <div id="wrapper">
        {# layout #}
        {% block content %}{% endblock %}
        {# <h1> example filters {{ var|shorten(3) }}</h1> #}
    </div>
</body>
</html>